* {
  box-sizing: border-box;
  cursor: crosshair;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin: 0 auto;
  padding: 0;
}

/* Background image */
body {
  margin-top: 65px !important;
  background-image: url("dogbackground.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0 auto;
  position: relative;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 25px;
  content: "\201C";
  font-size: 75px;
  position: absolute;
  left: -20px;
  top: -10px;
  color: #7a7a7a;
}

.description {
  margin: 20px;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.image {
  text-align: center;
  margin-bottom: 15px;
}

.contact {
  text-align: center;
  padding: 8px 0 0 150px;
  text-transform: uppercase;
  color: darkblue;
  font-family: 'Poppins', sans-serif;
}

.signButton {
  width: 100%;
  margin-top: 10px;
}

.middleNav {
  font-size: 12px;
}

.number {
  font-weight: 800;
  letter-spacing: 1px;
  color: red;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

.num {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .8px;
  font-weight: 800;
  font-size: 16px;
}

#notify {
  color: red;
  margin-bottom: 30px;
}

.messages {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.redBkg {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(139, 0, 0, 0.7);
  padding: 5px;
}

.title {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.table-header {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}

.edit {
  margin-bottom: 5px;
}

li {
  list-style: none;
}

.pet {
  text-align: center;
  font-family: arial;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

#img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.heading {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.location {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#location {
  text-transform: capitalize;
}

#address {
  text-transform: capitalize;
}

.devs {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.name {
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

.lost {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  letter-spacing: -0.3px;
}

.lostPet {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.new {
  font-weight: 800;
  font-size: 14px;
  font-family: 'Didact Gothic', sans-serif;
}

#name {
  font-weight: 800;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
}

.userInfo {
  font-weight: 800;
  float: right;
  font-family: 'Karla', sans-serif;
  margin-right: 10px;
  text-transform: uppercase;
}

.notifyPage {
  margin-top: 10px;
  text-align: center;
  width: 80%;
}

.notifyInfo {
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px auto;
}

#image {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-bottom: 5px;
}

.pet-title {
  font-weight: 800;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

.notify {
  font-weight: 800;
  font-family: 'Didact Gothic', sans-serif;
  margin-right: 5px;
  text-transform: uppercase;
  float: right;
}

.message {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}

.userBody {
  font-family: 'Karla', sans-serif;
  font-weight: 0;
}

.ownerBody {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  margin: 3px auto;
}

.petBody {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}

.pet-header {
  font-family: 'Arapey', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.5px;
  color: rgb(70, 0, 128);
  font-weight: 600;
}

.owner {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  margin-top: 20px;
}

.map-location {
  float: right;
  margin: 0 15px;
  background: rgba(161, 147, 147, 0.1);
  padding: 5px 10px;
  border-radius: 3px;
}

.userDashboard {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: darkblue;
  font-weight: 800;
}

.body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.background {
  background: rgba(247, 245, 245, 0.7);
  padding-top: 15px;
  border-radius: 5px;
}

.alert-pets {
  margin: 15px 0;
}

.line {
  border: 2px solid rgba(128, 116, 116, 0.2);
  margin: 10px auto;
}

.rows {
  padding-bottom: 15px;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
}

.navigation {
  font-family: 'Istok Web', sans-serif;
  text-transform: uppercase;
}

.red-text {
  color: red;
}

.red-error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.login {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 26px;
  padding: 0;
  margin: 0 auto;
}

#signup {
  text-align: center;
  padding: 0 0 10px 0;
}

@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#map{
  margin: auto; 
  height: 400px;
  width: 600px; 
  border: 1px solid black; 
  margin-bottom: 20px; 
}
