* {
  box-sizing: border-box;
  cursor: crosshair;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  padding: 0;
}

/* Background image */
body {
  margin-top: 70px !important;
  background-image: url("dogbackground.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0 auto;
  position: relative;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 25px;
  content: "\201C";
  font-size: 75px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

.description {
  margin: 9px;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.contact {
  text-align: center;
  padding: 8px 0 0 150px;
  text-transform: uppercase;
  color: darkblue;
  font-family: 'Poppins', sans-serif;
}

.middleNav {
  font-size: 12px;
}

.number {
  font-weight: 800;
  letter-spacing: 1px;
  color: red;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
}

.navigation {
  font-family: 'Istok Web', sans-serif;
  text-transform: uppercase;
}

.red-text {
  color: red;
}