<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SpotAlert</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="dashboard">Dashboard</a></li>
        <li><a ui-sref="lostPets">Lost Pets</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="about">About Us</a></li>
            <li><a ui-sref="contact">Contact Us</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="developers">Our Developers</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ui-sref="account">Account <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="col-md-5 col-md-offset-4">
    <h1 class="head">Account Information</h1>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <div class="row">
      <p class="userInfo" ng-model="user.firstName">
        <strong class="pad">First Name:</strong> {{ loadedUser.firstName | uppercase }}</p>
    </div>
    <div class="row">
      <p class="userInfo" ng-model="user.lastName">
        <strong class="pad">Last Name:</strong> {{ loadedUser.lastName | uppercase }}</p>
    </div>
    <div class="row">
      <p class="userInfo" ng-model="user.email">
        <strong class="pad">Email Address:</strong> {{ loadedUser.email | uppercase }}</p>
    </div>
    <div class="row">
      <button class="btn btn-success btn-sm" ui-sref="userUpdate({id: loadedUser.id})">Update</button>
      <button class="btn btn-danger btn-sm" ng-click="deleteUser()">Delete</button>
    </div>
  </div>
</div>