<div class="container">
  <div class="col-md-11 col-md-offset-1 background2">
    <div class="row rows">
      <h4 class="heading">Contact</h4>
      <p class="body"><span class="fa fa-map-pin"></span> 2850 Red Hill Ave, Santa Ana, CA 92705</p>
      <p class="body"><span class="glyphicon glyphicon-envelope"></span> info@spotalert.com</p>
      <p class="body"><span class="glyphicon glyphicon-earphone"></span> 534.873.9842</p>
      <p class="body">Monday - Friday</br>
      9AM to 5PM PST</br>
      (Closed on major holidays)</p>
    </div>
    <div class="row rows">
      <p class="name">Reporting Lost Pet?</p>
      <p class="body">Register with us and report your pet TODAY</br>
      so the community can be on the lookout!</p>
    </div>
    <div class="row redBkg2">
      <p class="name">Found Missing Pet?</p>
      <p class="body" style="text-decoration: underline;">CONTACT OUR 24HR HOTLINE NOW!</p>
      <p class="num">1-800-SPOT-PET</p>
    </div>
  </div>
</div>