<div class="container">
  <div class="col-md-12 background">
    <div class="row redBkg">
      <h1 class="heading">Dashboard</h1>
    </div>
    <div class="row rows allPets">
      <div class="col-md-12">
        <div class="row">
          <p class="userDashboard" ng-hide="dashMessage.message == null">Inbox: New Message</p>
          <p class="userDashboard" ng-hide="dashMessage.message != null">Inbox: No New Message</p>
        </div>
        <div ng-hide="dashMessage.message == null">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Sender</th>
                <th class="text-center">Email Address</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">Regarding</th>
              </tr>
            </thead>
            <tbody>
              <tr ui-sref="message({id: user.id})">
                <td class="text-center">{{ dashMessage.messageDate | date:'MM/dd/yy' }}</td>
                <td class="text-center">{{ dashMessage.messageName }}</td>
                <td class="text-center">{{ dashMessage.messageEmail }}</td>
                <td class="text-center">{{ dashMessage.messageNumber }}</td>
                <td class="text-center">{{ dashMessage.messageRegarding }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>