<div class="container">
  <div class="col-md-11 col-md-offset-1 background" style="padding-bottom: 15px;">
    <div class="row rows">
      <h1 class="heading">DASHBOARD</h1>
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <p class="userDashboard" ng-hide="dashMessage.message == null">Inbox: New Message</p>
          <p class="userDashboard" ng-hide="dashMessage.message != null">Inbox: No New Message</p>
        </div>
        <div ng-hide="dashMessage.message == null">
          <div class="col-md-4 col-md-offset-2">
            <p class="pet-title">Date: </p>
            <p class="userBody">{{ dashMessage.messageDate | date:'MM/dd/yy' }}</p>
            <p class="pet-title">Name:</p>
            <p class="userBody">{{ dashMessage.messageName }}</p>
            <p class="pet-title">Phone Number:</p>
            <p class="userBody">{{ dashMessage.messageNumber }}</p>
            <p class="pet-title">Email Address:</p>
            <p class="userBody">{{ dashMessage.messageEmail }}</p>
          </div>
          <div class="col-md-6">
            <p class="pet-title">Message:</p>
            <p class="userBody">{{ dashMessage.message }}</p>
            <button class="btn btn-danger btn-sm" ng-click="deleteMessage()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>