<div class="container">
  <div class="col-md-11 col-md-offset-1 background">
    <h4 class="heading">DEVELOPERS</h4>
    <div class="col-md-6 devs">
      <p class="name">Andre Khuu</p>
      <p class="body"><span class="glyphicon glyphicon-envelope"></span> khuu.andre@gmail.com</p>
      <p class="body"><span class="fa fa-code"></span> <u>Backend Developer</u></p>
      <p class="body"><strong>Technologies:</strong></br>
      C#, ASP.NET, .NET, MVC, LINQ, Microsoft Entity Framework, WebAPI</p>
      <p class="body"><strong>Version Control:</strong></br>
      Git, Github</p>
      <p class="body"><strong>Tools:</strong></br>
      Visual Studio</p>
      <p class="body"><strong>Agile Project Management:</strong></br>
      Kanban</p>
    </div>
    <div class="col-md-6 devs" style="padding-bottom: 15px;">
      <p class="name">Linda Le</p>
      <p class="body"><span class="glyphicon glyphicon-envelope"></span> lindahuynhle@gmail.com</p>
      <p class="body"><span class="fa fa-code"></span> <u>Frontend Developer</u></p>
      <p class="body"><strong>Technologies:</strong></br>
      HTML, CSS, Bootstrap, JavaScript, jQuery, AngularJS, UI/UX Design, JSON</p>
      <p class="body"><strong>Version Control:</strong></br>
      Git, Github</p>
      <p class="body"><strong>Tools:</strong></br>
      Visual Studio</p>
      <p class="body"><strong>Agile Project Management:</strong></br>
      Kanban</p>
    </div>
  </div>
</div>