<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SpotAlert</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home" class="navigation">Home</a></li>
        <li><a ui-sref="lostPets" class="navigation" ng-show="!lostpet">Lost & Found</a></li>
        <li><a ui-sref="dashboard" class="navigation" ng-show="dashboard">Dashboard</a></li>
        <li class="dropdown" ng-show="pets">
          <a class="dropdown-toggle navigation" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pets <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="lostPets" class="navigation">Lost & Found</a></li>
            <li><a ui-sref="pets" class="navigation">My Pets</a></li>
            <li><a ui-sref="petCreate" class="navigation">Add Pets</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-show="!aboutus">
          <a class="dropdown-toggle navigation" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="mission" class="navigation">Mission</a></li>
            <li><a ui-sref="vision" class="navigation">Vision</a></li>
            <li><a ui-sref="values" class="navigation">Values</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="contact" class="navigation">Contact Us</a></li>
            <li><a ui-sref="developers" class="navigation">Our Developers</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="contact middleNav">Found a missing pet? <strong class="middleNav">Contact us immediately!</strong>
        <p class="number">1-800-SPOT-PET</p></li>
      </ul>      
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="profileNav"><a ui-sref="account" class="navigation"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li ng-show="profileNav"><a ui-sref="logout" class="navigation"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>   
        <li class="active" ng-show="!profileNav"><a ui-sref="userCreate" class="navigation"><span class="glyphicon glyphicon-user"></span> Sign Up <span class="sr-only">(current)</span></a></li>     
        <li ng-show="!profileNav"><a ui-sref="login" class="navigation"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="col-md-10 col-md-offset-1 well" id="signup">
    <h2>{{ heading }}</h2>
  </div>
  <div class="col-md-10 col-md-offset-1 well">
    <div class="row">
      <form>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>First Name</label> <span class="red-text" ng-show="firstNameReq">*</span>
              <input type="text" placeholder="First Name" ng-model="user.firstName" class="form-control">
            </div>
            <div class="col-sm-6 form-group">
              <label>Last Name</label> <span class="red-text" ng-show="lastNameReq">*</span>
              <input type="text" placeholder="Last Name" ng-model="user.lastName" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Password</label> <span class="red-text" ng-show="passwordReq">*</span>
              <input type="password" placeholder="Password" ng-model="user.password" class="form-control">
            </div>
            <div class="col-sm-6 form-group">
              <label>Confirm Password</label> <span class="red-text" ng-show="passwordReq">*</span>
              <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword" class="form-control">
              <p class="red-text" ng-show="passwordError">Passwords do not match</p>
            </div>
          </div>
          <div class="form-group">
            <label>Street Address</label>
            <input placeholder="Street Address" rows="3" class="form-control">
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>City</label>
              <input type="text" placeholder="City" class="form-control">
            </div>
            <div class="col-sm-4 form-group">
              <label>State</label>
              <input type="text" placeholder="State" class="form-control">
            </div>
            <div class="col-sm-4 form-group">
              <label>Zip</label>
              <input type="text" placeholder="Zip Code" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Phone Number</label>
              <input type="text" placeholder="Phone Number" class="form-control">
            </div>
            <div class="col-sm-6 form-group">
              <label>Email Address</label> <span class="red-text" ng-show="emailReq">*</span>
              <input type="text" placeholder="Email Address" class="form-control" ng-model="user.email" ng-change="user.email = (user.email | lowercase)">
            </div>
          </div>
          <button class="btn btn-danger btn-md pull-right" ng-show="submitButton" ui-sref="home">Cancel</button>
          <button type="button" class="btn btn-info btn-md pull-right" ng-show="submitButton" ng-click="addUser(user)">Submit</button>
          <button class="btn btn-danger btn-md pull-right" ng-show="!submitButton" ui-sref="account">Cancel</button>
          <button class="btn btn-success btn-md pull-right" ng-show="!submitButton" ng-click="updateUser(user)">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>