<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SpotAlert</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home" class="navigation">Home</a></li>
        <li><a ui-sref="lostPets" class="navigation">Lost & Found</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle navigation" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="mission" class="navigation">Mission</a></li>
            <li><a ui-sref="vision" class="navigation">Vision</a></li>
            <li><a ui-sref="values" class="navigation">Values</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="contact" class="navigation">Contact Us</a></li>
            <li><a ui-sref="developers" class="navigation">Our Developers</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="contact middleNav">Found a missing pet?<strong class="middleNav"> Contact us immediately!</strong><p class="number">1-800-SPOT-PET</p></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="userCreate" class="navigation"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="active"><a ui-sref="login" class="navigation"><span class="glyphicon glyphicon-log-in"></span> Login<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="login">Login</p>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" class="form-control" id="inputEmail3" ng-model="user.email" ng-change="user.email = (user.email | lowercase)" placeholder="Email" required="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control" id="inputPassword3" ng-model="user.password" placeholder="Password" required="">
              </div>
              <div class="col-sm-12">
                <p ng-show="errorMessage" class="red-text">Email or password is incorrect. Try again.</p>
              </div>
            </div>
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success btn-sm" ng-click="login(user)">Sign in</button>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">Not Registered?
          <a ui-sref="userCreate">Register here</a>
        </div>
      </div>
    </div>
  </div>
</div>