<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="login">Login</p>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" class="form-control" id="inputEmail3" ng-model="user.email" ng-change="user.email = (user.email | lowercase)" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" class="form-control" id="inputPassword3" ng-model="user.password" placeholder="Password">
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-success signButton" ng-click="login(user)">Sign in</button>
            </div>
            <div class="col-sm-12">
              <p ng-show="errorMessage" class="red-error">Email or password is incorrect.</p>
            </div>
          </form>
        </div>
        <div class="panel-footer">Not Registered?
          <a ui-sref="userCreate">Register here</a>
        </div>
      </div>
    </div>
  </div>
</div>