<div class="container">
  <div class="col-md-12 background">
    <div class="col-md-5">
      <div class="row image">
        <img id="img3" src="{{ image }}" alt="pet">
      </div>
    </div>
    <div class="col-md-7 allPets">
      <div class="row rows">
        <h1 class="heading3">Update Status</h1>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="row rows text-center">
          <label class="location">Enter pet's last known location:</label> <span class="red-text" ng-show="locationReq">*</span>
          <input type="text" class="form-control" placeholder="Street Address, City, State, Zip" ng-model="lostLocation" style="text-align: center">
          <label class="location" style="margin-top: 15px">When was your pet lost?</label> <span class="red-text" ng-show="missingReq">*</span>
          <input type="date" class="form-control" ng-model="lostDate" style="text-align: center"> 
        </div>
      </div>
      <div class="row rows">
        <div class="col-md-6 col-md-offset-4">
          <button class="btn btn-danger btn-md" ng-click="report()">Report</button>
          <button class="btn btn-default btn-md" ui-sref="pets" ng-click="petService.setCurrentPet(null)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>