<div class="container">
  <div class="col-md-11 col-md-offset-1 background">
    <div class="row redBkg">
      <h1 class="heading">Notify The Owner</h1> 
    </div>
    <div class="row rows allPets">
      <div class="col-md-5 col-md-offset-1">
        <div class="row">        
          <img src="{{ image }}" alt="image" id="img2">
        </div>
        <div class="notifyPage">
          <div class="col">
            <p class="notifyInfo"><strong>Pet Name:</strong> {{ petName }}</p>
            <p class="notifyInfo"><strong>Owner Name:</strong> {{ owner.firstName }} {{ owner.lastName }}</p>
            <p class="notifyInfo"><strong>Phone Number:</strong> {{ owner.phoneNumber }}</p>
            <p class="notifyInfo"><strong>Address:</strong> {{ owner.address }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputsm" class="new">DATE:</label> <span class="red-text" ng-show="messageDateReq">*</span>
        <input type="date" class="form-control input-sm" id="inputsm" ng-model="messageDate"> 
        <label for="inputsm" class="new">NAME:</label> <span class="red-text" ng-show="messageNameReq">*</span>
        <input type="text" class="form-control input-sm" placeholder="Full Name" id="inputsm" ng-model="messageName">
        <label for="inputsm" class="new">PHONE NUMBER:</label> <span class="red-text" ng-show="messageNumberReq">*</span>
        <input type="text" class="form-control input-sm" id="inputsm" placeholder="(000) 000-0000" ng-model="messageNumber">
        <label for="inputsm" class="new">EMAIL ADDRESS:</label> <span class="red-text" ng-show="messageEmailReq">*</span>
        <input type="email" class="form-control input-sm" id="inputsm" placeholder="Email Address" ng-model="messageEmail"> 
        <label for="inputsm" class="new">REGARDING:</label> <span class="red-text" ng-show="messageRegardingReq">*</span>
        <input type="text" class="form-control input-sm" id="inputsm" placeholder="Regarding..." ng-model="messageRegarding"> 
        <label for="inputsm" class="new">MESSAGE:</label> <span class="red-text" ng-show="messageReq">*</span>
        <textarea rows="7" type="text" class="form-control input-sm" id="inputsm" placeholder="Provide a detailed message for {{ owner.firstName }}'s pet" ng-model="message"></textarea>
        <div class="notifyPage">
          <button class="btn btn-warning btn-md" ng-click="notifySubmit()">Email</button>
          <button class="btn btn-default btn-md" ui-sref="lostPets" ng-click="petService.setCurrentPet(null)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>