<div class="container">
  <div class="col-md-11 col-md-offset-1 background" style="padding-bottom: 15px;">
    <div class="row rows">
      <h1 class="heading">NOTIFY THE OWNER</h1>
      <p class="name">{{ owner.firstName | uppercase }}</p>
      <div class="col-md-6">
        <div class="row">
          <p class="userInfo">Phone Number:</p>
        </div>
        <div class="row">
          <p class="userInfo">Primary Address:</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <p class="userBody">{{ owner.phoneNumber }}</p>
        </div>
        <div class="row">
          <p class="userBody">{{ owner.address }}</p>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p class="message">Message:</p>
        <textarea rows="6" type="text" class="form-control" ng-model="notifyMessage"></textarea>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <button class="btn btn-primary btn-md" ng-click="notifySubmit()">Submit</button>
      <button class="btn btn-default btn-md" ui-sref="lostpets">Cancel</button>
    </div>
  </div>
</div>