<div class="container">
  <div class="col-md-11 col-md-offset-1 background" style="padding-bottom: 15px;">
    <div class="row rows">
      <h1 class="heading" ng-show="petService.returnCurrentPet() == null">ADD NEW PET</h1>
      <h1 class="heading"  ng-show="petService.returnCurrentPet() != null">UPDATE PET</h1>
      <div class="col-md-6 col-md-offset-3">
        <div class="row rows">
          <div class="row">
            <label class="new">PET NAME:</label>
            <input type="text" class="form-control" ng-model="petName">
          </div>
          <div class="row">
            <label class="new">DESCRIPTION:</label>
            <textarea rows="6" type="text" class="form-control" ng-model="description"></textarea>
          </div>
          <div class="row">
            <label class="new">IMAGE URL:</label>
            <input type="text" class="form-control" ng-model="image">
          </div>
          <div class="row">
            <label class="new">STATUS:</label>
            <select class="form-control" ng-model="status">
              <option value="">Choose a status</option>
              <option value="lost">lost</option>
              <option value="not lost">not lost</option>
            </select>
          </div>
          <div class="row" ng-show="status == 'lost'">
            <p class="lost">If lost, please fill out the following:</p>
            <label class="new">MISSING SINCE:</label>
            <input type="text" class="form-control" ng-model="missingSince">
            <label class="new">LAST KNOWN LOCATION:</label>
            <input type="text" class="form-control" ng-model="lastKnownLocation">
          </div>
        </div>
        <div class="col-md-11 col-md-offset-1">
          <button class="btn btn-danger" ng-click="deletePet()" ng-show="petService.returnCurrentPet() != null">Delete</button>
          <button class="btn btn-success" ng-hide="hidePetEdit" ng-click="updatePet()">Update</button>
          <button class="btn btn-primary btn-md" ng-click="addPet()" ng-hide="hideAddPet">Add Pet</button>
          <button class="btn btn-default btn-md" ui-sref="pets" ng-click="petService.setCurrentPet(null)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>