<div class="container a">
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="row">
      <h1>Add New Pet</h1>
    </div>
    <div class="row">
      <label>PET NAME</label>
      <input type="text" class="form-control" ng-model="petName">
      <label>DESCRIPTION</label>
      <textarea rows="6" type="text" class="form-control" ng-model="description"></textarea>
    </div>
    <div class="row">
      <button class="btn btn-success" ng-click="addPet()">Add your pet</button>
    </div>
  </div>
</div>